  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(#b0f5c4, #51a58c)
}
header {
    height:100px;
    background: #0d7b69cb;
    opacity: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
}
main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.icon-img{
    max-width: 670px;
    height: auto;
}
.content{
    width: 30%;
}
main h1{
    font-size: 54px;
    color: #134f3f;
    text-transform: uppercase;
}
main h2{
    font-size: 25px;
    color: #266f5ce9;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
}
main p{
    font-size: 17px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}
main h3{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #0d7b69b9;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 50px;
    margin-block: 10px;
}
.facts p{
    font-size: 18px;
    text-align: left;
    color: #fff;
    font-weight: 300;
    border-radius: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.685);
}
main h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(10, 10, 10);
    font-weight: 300;
    border-radius: 50px;
    padding: 20px;
    background: rgba(238, 236, 236, 0.685);
    font-weight: 400;
}
main h5{
    font-size: 10pxpx;
    text-align: center;
    color: rgb(10, 10, 10);
    font-weight: 200;
    border-radius: 50px;
    padding: 10px;
    background: rgba(236, 238, 238, 0.733);
    font-weight: 400;
    margin-block: 20px;
}